.transactions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #283048, #859398); /* Dark gradient background */
  font-family: 'Arial', sans-serif;
  color: #ffffff; /* Light text color for better contrast */
}

.transactions-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #1abc9c; /* Bright Turquoise */
}

.transactions-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.transactions-input {
  width: 300px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.transactions-button {
  width: 150px;
  padding: 0.75rem;
  background-color: #1abc9c; /* Bright Turquoise */
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transactions-button:hover {
  background-color: #16a085; /* Darker Turquoise on hover */
}
